// http://www.bootstrapcustomizer.com/bootstrap/4.5.0/

// Color system
$white: #fff !default;
// $gray-100: #f8f9fa !default;
// $gray-200: #e9ecef !default;
// $gray-300: #dee2e6 !default;
// $gray-400: #ced4da !default;
// $gray-500: #adb5bd !default;
// $gray-600: #6c757d !default;
// $gray-700: #495057 !default;
$gray-800: #343a40 !default;
// $gray-900: #212529 !default;
$black: #000 !default;
// $grays: (
//     "100": $gray-100,
//     "200": $gray-200,
//     "300": $gray-300,
//     "400": $gray-400,
//     "500": $gray-500,
//     "600": $gray-600,
//     "700": $gray-700,
//     "800": $gray-800,
//     "900": $gray-900,
// ) !default;
$blue: #007bff !default;
// $indigo: #6610f2 !default;
// $purple: #6f42c1 !default;
// $pink: #e83e8c !default;
// $red: #dc3545 !default;
// $orange: #fd7e14 !default;
// $yellow: #ffc107 !default;
// $green: #28a745 !default;
// // $teal: #20c997 !default;
// $cyan: #17a2b8 !default;
// $colors: () !default;
// $colors: map-merge((
//     "blue": $blue,
//     "indigo": $indigo,
//     "purple": $purple,
//     "pink": $pink,
//     "red": $red,
//     "orange": $orange,
//     "yellow": $yellow,
//     "green": $green,
//     "teal": $teal,
//     "cyan": $cyan,
//     "white": $white,
//     "gray": $gray-600,
//     "gray-dark": $gray-800
// ), $colors) !default;
$primary: $blue !default;
// $secondary: $gray-600 !default;
// $success: $green !default;
// $info: $cyan !default;
// $warning: $yellow !default;
// $danger: $red !default;
// $light: $gray-100 !default;
// $dark: $gray-800 !default;
$theme-colors: () !default;
$theme-colors: map-merge((
    "primary": $primary,
    "secondary": $secondary,
    "success": $success,
    "info": $info,
    "warning": $warning,
    "danger": $danger,
    "light": $light,
    "dark": $dark
), $theme-colors) !default;
// $theme-color-interval: 8% !default;
// $yiq-contrasted-threshold: 150 !default;
// $yiq-text-dark: $gray-900 !default;
// $yiq-text-light: $white !default;

// Options
$enable-pointer-cursor-for-buttons: true !default;

// Components
$line-height-lg: 1.5 !default;
$line-height-sm: 1.5 !default;
$border-width: 1px !default;

// Buttons + Forms
$input-btn-border-width: $border-width !default;
$input-btn-line-height-lg: $line-height-lg !default;
$input-btn-line-height-sm: $line-height-sm !default;

// Forms
$input-line-height-lg: $input-btn-line-height-lg !default;
$input-line-height-sm: $input-btn-line-height-sm !default;
$input-border-width: $input-btn-border-width !default;
$custom-control-gutter: .5rem !default;
$custom-control-indicator-size: 1rem !default;
$custom-control-indicator-bg-size: 50% 50% !default;
$custom-control-indicator-border-width: $input-border-width !default;
$custom-radio-indicator-border-radius: 50% !default;

// Tables
$table-cell-padding: .75rem !default;
$table-cell-padding-sm: .3rem !default;
// $table-color: $body-color !default;
// $table-bg: null !default;
$table-accent-bg: rgba($black, .05) !default;
$table-dark-color: $white !default;
$table-dark-bg: $gray-800 !default;
$table-dark-accent-bg: rgba($white, .05) !default;
$table-dark-hover-color: $table-dark-color !default;
$table-dark-hover-bg: rgba($white, .075) !default;